Repository dotnet/iot, pull requests merged in 2019-03, with the labels that each got.

#310 Add another verified ssd1306 device
  src/devices/Ssd1306/README.md
Labels: area-device-bindings, documentation

#308 Add ssd1306 samples
  src/devices/Ssd1306/samples/Ssd1306.Sample.cs
  src/devices/Ssd1306/samples/Ssd1306.Samples.csproj
  src/devices/Ssd1306/samples/images/dotnet-bot.bmp
  src/devices/Ssd1306/samples/images/github-dotnet-iot-black.bmp
  src/devices/Ssd1306/samples/images/github-dotnet-iot-white.bmp
  src/devices/Ssd1306/samples/images/shapes.bmp
Labels: area-samples

#314 Buzzer
  src/devices/Buzzer/Buzzer.cs
  src/devices/Buzzer/Buzzer.csproj
  src/devices/Buzzer/README.md
  src/devices/Buzzer/samples/Buzzer.Sample.cs
  src/devices/Buzzer/samples/Buzzer.Samples.csproj
  src/devices/Buzzer/samples/Buzzer.Samples.wiring.fzz
  src/devices/Buzzer/samples/Buzzer.Samples.wiring.png
  src/devices/Buzzer/samples/Enums.cs
  src/devices/Buzzer/samples/MelodyElement.cs
  src/devices/Buzzer/samples/MelodyPlayer.cs
  src/devices/Buzzer/samples/NoteElement.cs
  src/devices/Buzzer/samples/PauseElement.cs
  src/devices/Buzzer/samples/README.md
  src/devices/README.md
Labels: area-device-bindings
