Repository dotnet/iot, pull requests merged in 2020-11, with the labels that each got.

#1246 Add ! operator to PinValue
  src/System.Device.Gpio/System/Device/Gpio/PinValue.cs
Labels: area-System.Device.Gpio

#1252 adjusting tag for nullable
  src/devices/Card/CreditCard/Tag.cs
Labels: area-device-bindings

#1257 Fix Sense HAT sample
  src/devices/SenseHat/samples/Program.cs
Labels: area-device-bindings

#1258 Use records with Bh1745
  src/Iot.Device.Bindings/Iot.Device.Bindings.csproj
  src/devices/Bh1745/Bh1745.cs
  src/devices/Bh1745/Bh1745.csproj
  src/devices/Bh1745/Bh1745Extensions.cs
  src/devices/Bh1745/ChannelCompensationMultipliers.cs
  src/devices/Bh1745/MeasurementTime.cs
  src/devices/Bh1745/samples/Program.CustomConfiguration.cs
  src/devices/Bh1745/samples/Program.cs
  src/devices/Common/System/Runtime/CompilerServices/IsExternalInit.cs
Labels: area-device-bindings

#1269 #1267 added support for Raspberry Pi 4 Model 0b3112 & 0c3112 in System.Device.Gpio
  src/System.Device.Gpio/System/Device/Gpio/RaspberryBoardInfo.cs
Labels: area-System.Device.Gpio

#1275 Remove space
  src/devices/Card/Mifare/MifareCard.cs
  src/devices/GrovePi/GrovePi.cs
  src/devices/Mcp3428/Helpers.cs
  src/devices/Mcp3xxx/Mcp3xxx.cs
  src/devices/Pca9685/README.md
Labels: area-device-bindings

#1276 Update pattern check
  src/devices/Pn532/Pn532.cs
Labels: area-device-bindings

#1274 Add support for raspberry pi Compute Module 3+
  src/System.Device.Gpio/System/Device/Gpio/RaspberryBoardInfo.cs
Labels: area-System.Device.Gpio

#1266 Fixing documentation for Grove RGB
  src/devices/CharacterLcd/README.md
  src/devices/CharacterLcd/samples/Program.cs
Labels: area-device-bindings

#1289 Update Ssd13xx sample
  src/devices/Ssd13xx/samples/Program.cs
  src/devices/Ssd13xx/samples/Ssd1306Extensions.cs
  src/devices/Ssd13xx/samples/Ssd13xx.Samples.csproj
Labels: area-device-bindings

#1254 Unseal GpioController
  src/System.Device.Gpio.Tests/GpioControllerSoftwareTests.cs
  src/System.Device.Gpio.Tests/MockableGpioDriver.cs
  src/System.Device.Gpio.Tests/PinValueTests.cs
  src/System.Device.Gpio.Tests/System.Device.Gpio.Tests.csproj
  src/System.Device.Gpio/System/Device/Gpio/GpioController.cs
Labels: area-System.Device.Gpio, needs triage :mag:

#705 Add RotaryEncoder Binding
  src/devices/RotaryEncoder/QuadratureRotaryEncoder.cs
  src/devices/RotaryEncoder/README.md
  src/devices/RotaryEncoder/RotaryEncoder.csproj
  src/devices/RotaryEncoder/RotaryEncoder.sln
  src/devices/RotaryEncoder/RotaryEncoderEventArgs.cs
  src/devices/RotaryEncoder/ScaledQuadratureEncoder.cs
  src/devices/RotaryEncoder/encoder.png
  src/devices/RotaryEncoder/pec11r.png
  src/devices/RotaryEncoder/samples/README.md
  src/devices/RotaryEncoder/samples/RotaryEncoder.Sample.cs
  src/devices/RotaryEncoder/samples/RotaryEncoder.Sample.fzz
  src/devices/RotaryEncoder/samples/RotaryEncoder.Sample_bb.png
  src/devices/RotaryEncoder/samples/RotaryEncoder.Samples.csproj
Labels: WIP, area-device-bindings

#1293 Fixing DHT InputPullUp to Input only
  src/devices/Dhtxx/DhtBase.cs
Labels: area-device-bindings

#1218 Adding device binding for AMG88xx infrared array sensor family
  src/devices/Amg88xx/AMG8833Int.svg
  src/devices/Amg88xx/AMG88xx.png
  src/devices/Amg88xx/AMG88xxAvgMode.svg
  src/devices/Amg88xx/Amg88xx.cs
  src/devices/Amg88xx/Amg88xx.csproj
  src/devices/Amg88xx/Amg88xx.sln
  src/devices/Amg88xx/Amg88xxUtils.cs
  src/devices/Amg88xx/FrameRate.cs
  src/devices/Amg88xx/FrameRateBit.cs
  src/devices/Amg88xx/InterruptMode.cs
  src/devices/Amg88xx/InterruptModeBit.cs
  src/devices/Amg88xx/MovingAverageModeBit.cs
  src/devices/Amg88xx/OperatingMode.cs
  src/devices/Amg88xx/README.md
  src/devices/Amg88xx/Register.cs
  src/devices/Amg88xx/ResetType.cs
  src/devices/Amg88xx/StatusClearBit.cs
  src/devices/Amg88xx/StatusFlagBit.cs
  src/devices/Amg88xx/category.txt
  src/devices/Amg88xx/samples/AMG88xxSample.png
  src/devices/Amg88xx/samples/Amg88xx.Samples.csproj
  src/devices/Amg88xx/samples/Program.cs
  src/devices/Amg88xx/samples/README.md
  src/devices/Amg88xx/tests/Amg88xx.Tests.csproj
  src/devices/Amg88xx/tests/Amg88xxTests.cs
  src/devices/Amg88xx/tests/Amg88xxUtilsTests.cs
  src/devices/Amg88xx/tests/I2cTestDevice.cs
Labels: area-device-bindings, needs triage :mag:

#1302 Fixing build due to new stylecop rule
  src/devices/Amg88xx/Amg88xxUtils.cs
Labels: area-device-bindings

#1306 Fixing PN532 to work with SPI
  src/devices/Pn532/Pn532.cs
  src/devices/Pn532/README.md
  src/devices/Pn532/samples/Program.cs
Labels: area-device-bindings

#1305 Adding I2C documentation for Raspberry Pi
  Documentation/README.md
  Documentation/raspi-i2c.md
Labels: documentation

#1304 Adjusting SPI doc for older Raspberry Pi OS version
  Documentation/raspi-spi.md
Labels: documentation

#1307 Fixing NFC example for Mifare card
  src/devices/Pn5180/samples/Program.cs
  src/devices/Pn532/samples/Program.cs
Labels: area-device-bindings

#1327 Fix exceptions on Ft4222's Dispose methods
  src/devices/Ft4222/FtCommon.cs
  src/devices/Ft4222/FtFunction.cs
  src/devices/Ft4222/SafeFtHandle.cs
Labels: area-device-bindings

#1325 Fix typo in Amg88xx.cs
  src/devices/Amg88xx/Amg88xx.cs
Labels: area-device-bindings

#1213 Binding for PiJuice UPS HAT
  src/devices/PiJuice/Models/BatteryChargingTemperatureFault.cs
  src/devices/PiJuice/Models/BatteryChemistry.cs
  src/devices/PiJuice/Models/BatteryExtendedProfile.cs
  src/devices/PiJuice/Models/BatteryOrigin.cs
  src/devices/PiJuice/Models/BatteryProfile.cs
  src/devices/PiJuice/Models/BatteryProfileSource.cs
  src/devices/PiJuice/Models/BatteryProfileStatus.cs
  src/devices/PiJuice/Models/BatteryState.cs
  src/devices/PiJuice/Models/BatteryTemperatureSense.cs
  src/devices/PiJuice/Models/Button.cs
  src/devices/PiJuice/Models/ButtonEventType.cs
  src/devices/PiJuice/Models/ChargingConfig.cs
  src/devices/PiJuice/Models/FaultStatus.cs
  src/devices/PiJuice/Models/IdEepromAddress.cs
  src/devices/PiJuice/Models/LED.cs
  src/devices/PiJuice/Models/LEDBlink.cs
  src/devices/PiJuice/Models/LEDConfig.cs
  src/devices/PiJuice/Models/LEDFunction.cs
  src/devices/PiJuice/Models/PiJuiceCommand.cs
  src/devices/PiJuice/Models/PiJuiceInfo.cs
  src/devices/PiJuice/Models/PowerInState.cs
  src/devices/PiJuice/Models/PowerInput.cs
  src/devices/PiJuice/Models/PowerInputType.cs
  src/devices/PiJuice/Models/PowerRegulatorMode.cs
  src/devices/PiJuice/Models/RelativeStateOfChangeEstimationType.cs
  src/devices/PiJuice/Models/RunPin.cs
  src/devices/PiJuice/Models/Status.cs
  src/devices/PiJuice/Models/SystemPowerSwitch.cs
  src/devices/PiJuice/Models/WakeUpOnCharge.cs
  src/devices/PiJuice/PiJuice.cs
  src/devices/PiJuice/PiJuice.sln
  src/devices/PiJuice/PiJuiceConfig.cs
  src/devices/PiJuice/PiJuiceDevice.csproj
  src/devices/PiJuice/PiJuicePower.cs
  src/devices/PiJuice/PiJuiceStatus.cs
  src/devices/PiJuice/README.md
  src/devices/PiJuice/pijuice.jpg
  src/devices/PiJuice/samples/PiJuiceDevice.sample.cs
  src/devices/PiJuice/samples/PiJuiceDevice.sample.csproj
  src/devices/PiJuice/samples/README.md
  src/devices/PiJuice/samples/sample.jpg
Labels: area-device-bindings
