Repository dotnet/iot, pull requests merged in 2020-12, with the labels that each got.

#1303 Modernize switch statements
  samples/led-matrix-weather/Program.Drawings.cs
  samples/led-matrix-weather/Program.cs
  src/System.Device.Gpio/System/Device/Gpio/Drivers/LibGpiodDriver.cs
  src/System.Device.Gpio/System/Device/Gpio/Drivers/RaspberryPi3Driver.cs
  src/System.Device.Gpio/System/Device/Gpio/Drivers/RaspberryPi3LinuxDriver.cs
  src/System.Device.Gpio/System/Device/Gpio/ExceptionHelper.cs
  src/System.Device.Gpio/System/Device/Gpio/RaspberryBoardInfo.cs
  src/devices/BrickPi3/Movement/Motor.cs
  src/devices/BrickPi3/Sensors/EV3ColorSensor.cs
  src/devices/BrickPi3/Sensors/EV3GyroSensor.cs
  src/devices/BrickPi3/Sensors/EV3IRSensor.cs
  src/devices/BrickPi3/Sensors/EV3UltraSonicSensor.cs
  src/devices/BrickPi3/Sensors/NXTColorSensor.cs
  src/devices/GrovePi/GrovePi.cs
  src/devices/Mcp23xxx/Mcp23xxx.cs
  src/devices/Mcp23xxx/samples/Program.cs
  src/devices/Mcp25xxx/Register/MessageTransmit/TxBxDn.cs
  src/devices/Mcp3428/Helpers.cs
  src/devices/Mcp3xxx/Mcp3xxx.cs
  src/devices/Mpu9250/Mpu6500.cs
  src/devices/Mpu9250/Mpu9250.cs
  src/devices/Nrf24l01/Nrf24l01.cs
  src/devices/PiJuice/Models/BatteryExtendedProfile.cs
  src/devices/PiJuice/Models/BatteryProfile.cs
  src/devices/PiJuice/Models/BatteryProfileStatus.cs
  src/devices/PiJuice/Models/ChargingConfig.cs
  src/devices/PiJuice/Models/FaultStatus.cs
  src/devices/PiJuice/Models/LEDBlink.cs
  src/devices/PiJuice/Models/LEDConfig.cs
  src/devices/PiJuice/Models/PiJuiceInfo.cs
  src/devices/PiJuice/Models/PowerInput.cs
  src/devices/PiJuice/Models/Status.cs
  src/devices/PiJuice/Models/WakeUpOnCharge.cs
  src/devices/PiJuice/PiJuice.cs
  src/devices/PiJuice/PiJuiceConfig.cs
  src/devices/PiJuice/PiJuiceDevice.csproj
  src/devices/PiJuice/PiJuicePower.cs
  src/devices/PiJuice/PiJuiceStatus.cs
  src/devices/PiJuice/samples/PiJuiceDevice.sample.cs
  src/devices/Uln2003/Uln2003.cs
  src/devices/Vl53L0X/Vl53L0X.cs
Labels: area-device-bindings

#1334 Fix SenseHat sample
  src/devices/SenseHat/samples/README.md
Labels: area-device-bindings

#1131 Add device binding for STUSB4500
  src/devices/StUsb4500/Enumerations/StUsb4500Register.cs
  src/devices/StUsb4500/Enumerations/UsbCCableConnection.cs
  src/devices/StUsb4500/Enumerations/UsbPdControlMessageType.cs
  src/devices/StUsb4500/Enumerations/UsbPdDataMessageType.cs
  src/devices/StUsb4500/Helper/UsbPdObjectHelper.cs
  src/devices/StUsb4500/Objects/BatteryObject.cs
  src/devices/StUsb4500/Objects/FixedSupplyObject.cs
  src/devices/StUsb4500/Objects/PowerDeliveryObject.cs
  src/devices/StUsb4500/Objects/RequestDataObject.cs
  src/devices/StUsb4500/Objects/UsbPdMessageHeader.cs
  src/devices/StUsb4500/Objects/VariableSupplyObject.cs
  src/devices/StUsb4500/README.md
  src/devices/StUsb4500/StUsb4500.cs
  src/devices/StUsb4500/StUsb4500.csproj
  src/devices/StUsb4500/StUsb4500.sln
  src/devices/StUsb4500/StUsb4500Constants.cs
  src/devices/StUsb4500/category.txt
  src/devices/StUsb4500/samples/StUsb4500.Sample.cs
  src/devices/StUsb4500/samples/StUsb4500.Samples.csproj
Labels: area-device-bindings, needs triage :mag:

#1341 Change Ft4222 to work with multiple I2C devices (I2cBus prototype)
  src/devices/Ccs811/samples/Program.cs
  src/devices/Ft4222/Ft4222I2c.cs
  src/devices/Ft4222/Ft4222I2cBus.cs
  src/devices/Ft4222/README.md
  src/devices/Ft4222/samples/Ft4222.sample.csproj
  src/devices/Ft4222/samples/Program.cs
Labels: area-device-bindings

#797 Bmxx80 API modification
  src/devices/Bmxx80/Bme280.cs
  src/devices/Bmxx80/Bme680.cs
  src/devices/Bmxx80/Bmp280.cs
  src/devices/Bmxx80/Bmx280Base.cs
  src/devices/Bmxx80/Bmxx80.csproj
  src/devices/Bmxx80/ReadResult/Bme280ReadResult.cs
  src/devices/Bmxx80/ReadResult/Bme680ReadResult.cs
  src/devices/Bmxx80/ReadResult/Bmp280ReadResult.cs
  src/devices/Bmxx80/samples/Bme280.sample.cs
  src/devices/Bmxx80/samples/Bme680.sample.cs
  src/devices/Bmxx80/samples/Bmp280.sample.cs
Labels: area-device-bindings, needs triage :mag:

#1268 Fixing MPU9250 calibration issue and AK8963 detection
  src/devices/Mpu9250/Mpu6500.cs
  src/devices/Mpu9250/Mpu9250.cs
  src/devices/Mpu9250/README.md
  src/devices/Mpu9250/samples/Program.cs
Labels: area-device-bindings

#1355 only throw exception if glyph data not found
  src/devices/Common/Iot/Device/Graphics/BdfFont.cs
Labels: area-device-bindings

#1163 Adding continuous recording for SoundDevice and VideoDevice
  src/devices/Media/Media.sln
  src/devices/Media/SoundDevice/Devices/UnixSoundDevice.cs
  src/devices/Media/SoundDevice/README.md
  src/devices/Media/SoundDevice/SoundDevice.cs
  src/devices/Media/SoundDevice/WavHeader.cs
  src/devices/Media/SoundDevice/WavHeaderChunk.cs
  src/devices/Media/VideoDevice/Devices/UnixVideoDevice.cs
  src/devices/Media/VideoDevice/VideoDevice.cs
  src/devices/Media/VideoDevice/samples/MjpegStream/Camera.cs
  src/devices/Media/VideoDevice/samples/MjpegStream/Controllers/Image.cs
  src/devices/Media/VideoDevice/samples/MjpegStream/MjpegStream.csproj
  src/devices/Media/VideoDevice/samples/MjpegStream/MjpegStream.sln
  src/devices/Media/VideoDevice/samples/MjpegStream/Program.cs
  src/devices/Media/VideoDevice/samples/MjpegStream/README.md
  src/devices/Media/VideoDevice/samples/MjpegStream/Startup.cs
  src/devices/Media/VideoDevice/samples/VideoDevice.Samples.csproj
Labels: area-device-bindings, needs triage :mag:

#1340 Adding Ndef support for NFC cards
  src/devices/Card/CardTransceiver.cs
  src/devices/Card/Mifare/AccessSector.cs
  src/devices/Card/Mifare/Mifare.csproj
  src/devices/Card/Mifare/MifareCard.cs
  src/devices/Card/Ndef/EnumHelper.cs
  src/devices/Card/Ndef/GeneralePurposeByteConditions.cs
  src/devices/Card/Ndef/MessageFlag.cs
  src/devices/Card/Ndef/Ndef.csproj
  src/devices/Card/Ndef/Ndef.sln
  src/devices/Card/Ndef/NdefMessage.cs
  src/devices/Card/Ndef/README.md
  src/devices/Card/Ndef/Record/GeoRecord.cs
  src/devices/Card/Ndef/Record/MediaRecord.cs
  src/devices/Card/Ndef/Record/NdefRecord.cs
  src/devices/Card/Ndef/Record/TextRecord.cs
  src/devices/Card/Ndef/Record/UriRecord.cs
  src/devices/Card/Ndef/RecordHeader.cs
  src/devices/Card/Ndef/TypeNameFormat.cs
  src/devices/Card/Ndef/UriType.cs
  src/devices/Card/Ndef/samples/NdefSamples.csproj
  src/devices/Card/Ndef/samples/Program.cs
  src/devices/Card/Ndef/tests/CardDumpExamples.cs
  src/devices/Card/Ndef/tests/Ndef.Tests.csproj
  src/devices/Card/Ndef/tests/NdefTests.cs
  src/devices/Pn5180/Pn5180.cs
  src/devices/Pn5180/samples/Program.cs
  src/devices/Pn532/Pn532.cs
  src/devices/Pn532/samples/Program.cs
Labels: area-device-bindings

#1370 Adding MFRC522
  src/devices/Card/Mifare/MifareCard.cs
  src/devices/Card/Ndef/samples/Program.cs
  src/devices/Mfrc522/Mfrc522.cs
  src/devices/Mfrc522/Mfrc522.csproj
  src/devices/Mfrc522/Mfrc522.sln
  src/devices/Mfrc522/MfrcCommand.cs
  src/devices/Mfrc522/MifareCardCommand.cs
  src/devices/Mfrc522/README.md
  src/devices/Mfrc522/Register.cs
  src/devices/Mfrc522/RegisterElement/BitFraming.cs
  src/devices/Mfrc522/RegisterElement/Coll.cs
  src/devices/Mfrc522/RegisterElement/ComIr.cs
  src/devices/Mfrc522/RegisterElement/DivIrq.cs
  src/devices/Mfrc522/RegisterElement/Error.cs
  src/devices/Mfrc522/RegisterElement/Gain.cs
  src/devices/Mfrc522/RegisterElement/Mode.cs
  src/devices/Mfrc522/RegisterElement/ModeCrc.cs
  src/devices/Mfrc522/RegisterElement/SerialSpeed.cs
  src/devices/Mfrc522/RegisterElement/Status2.cs
  src/devices/Mfrc522/RegisterElement/TMode.cs
  src/devices/Mfrc522/RegisterElement/TxControl.cs
  src/devices/Mfrc522/Status.cs
  src/devices/Mfrc522/samples/Mfrc522.Sample.csproj
  src/devices/Mfrc522/samples/Program.cs
  src/devices/Pn5180/Pn5180.cs
Labels: area-device-bindings

#1367 Adding Tsl256x
  src/devices/Tsl256x/Channel.cs
  src/devices/Tsl256x/Gain.cs
  src/devices/Tsl256x/IntegrationTime.cs
  src/devices/Tsl256x/InterruptControl.cs
  src/devices/Tsl256x/InterruptPersistence.cs
  src/devices/Tsl256x/PackageType.cs
  src/devices/Tsl256x/README.md
  src/devices/Tsl256x/Register.cs
  src/devices/Tsl256x/Tsl256x.cs
  src/devices/Tsl256x/Tsl256x.csproj
  src/devices/Tsl256x/Tsl256x.sln
  src/devices/Tsl256x/samples/Program.cs
  src/devices/Tsl256x/samples/Tsl256x.sample.csproj
Labels: area-device-bindings

#1374 Calibration typo
  src/devices/Bmxx80/Bmxx80Base.cs
Labels: area-device-bindings

#803 add key matrix (restart #522)
  src/devices/KeyMatrix/KeyMatrix.cs
  src/devices/KeyMatrix/KeyMatrix.csproj
  src/devices/KeyMatrix/KeyMatrix.sln
  src/devices/KeyMatrix/KeyMatrixEvent.cs
  src/devices/KeyMatrix/README.md
  src/devices/KeyMatrix/samples/4x4kb.fzz
  src/devices/KeyMatrix/samples/4x4kb.png
  src/devices/KeyMatrix/samples/4x4kb_via_mcp23017.fzz
  src/devices/KeyMatrix/samples/4x4kb_via_mcp23017.png
  src/devices/KeyMatrix/samples/KeyMatrix.Sample.csproj
  src/devices/KeyMatrix/samples/Program.cs
  src/devices/KeyMatrix/samples/README.md
Labels: area-device-bindings, needs attention from author :wave:

#1371 Found some problems in the UFirePh.cs code and made some fixes.
  src/devices/UFireIse/UFirePh.cs
Labels: area-device-bindings

#1376 Add missing Raspberry PI revisions
  src/System.Device.Gpio/System/Device/Gpio/Drivers/RaspberryPi3Driver.cs
  src/System.Device.Gpio/System/Device/Gpio/RaspberryBoardInfo.cs
Labels: area-System.Device.Gpio

#1378 Branding changes for 1.4
  src/Iot.Device.Bindings/Directory.Build.props
  src/System.Device.Gpio/Directory.Build.props
Labels: * NO MERGE *
