Repository dotnet/iot, pull requests merged in 2021-12, with the labels that each got.

#1739 Use new Button class in example code
  src/devices/Arduino/Arduino.sln
  src/devices/Arduino/samples/Arduino.Monitor.cs
  src/devices/Arduino/samples/Arduino.Monitor.csproj
Labels: area-device-bindings

#1701 Add TryReadHumidity/TryReadTemperature
  src/Iot.Device.Bindings/CompatibilitySuppressions.xml
  src/devices/Common/CommonHelpers.csproj
  src/devices/Common/Iot/Device/Common/ValueArray.cs
  src/devices/Common/tests/Common.Tests.csproj
  src/devices/Common/tests/ValueArrayTests.cs
  src/devices/Dhtxx/Devices/Dht10.cs
  src/devices/Dhtxx/Devices/Dht11.cs
  src/devices/Dhtxx/Devices/Dht12.cs
  src/devices/Dhtxx/Devices/Dht21.cs
  src/devices/Dhtxx/Devices/Dht22.cs
  src/devices/Dhtxx/DhtBase.cs
  src/devices/Dhtxx/Dhtxx.csproj
  src/devices/Dhtxx/Dhtxx.sln
  src/devices/Dhtxx/samples/DhtSensor.sample.csproj
  src/devices/Dhtxx/samples/Program.cs
Labels: area-device-bindings

#1744 Update RaspberryPi3Driver.cs to support Raspberry Pi Zero W
  src/System.Device.Gpio/System/Device/Gpio/Drivers/RaspberryPi3Driver.cs
Labels: area-System.Device.Gpio

#1754 Fix buildTransitive/net5.0/System.Device.Gpio.targets
  src/System.Device.Gpio/buildTransitive/net5.0/System.Device.Gpio.targets
Labels: area-infrastructure, area-System.Device.Gpio
