Repository dotnet/iot, pull requests merged in 2021-03, with the labels that each got.

#1362 Added AD5328 DAC to devices library
  src/devices/AD5328/AD5328.cs
  src/devices/AD5328/AD5328.csproj
  src/devices/AD5328/AD5328.sln
  src/devices/AD5328/README.md
  src/devices/AD5328/category.txt
  src/devices/AD5328/samples/AD5328.Samples.csproj
  src/devices/AD5328/samples/Program.cs
Labels: Auto-Merge, Needs: Author Feedback, area-device-bindings

#1476 Add IOutputSegment interface
  samples/led-animate/AnimateLeds.cs
  samples/led-animate/Program.cs
  samples/led-animate/README.md
  samples/led-animate/led-animate.csproj
  src/devices/Charlieplex/Charlieplex.csproj
  src/devices/Charlieplex/CharlieplexSegment.cs
  src/devices/Charlieplex/samples/Program.cs
  src/devices/Charlieplex/tests/CharlieplexLayout.cs
  src/devices/Common/CommonHelpers.csproj
  src/devices/Common/Iot/Device/Multiplexing/GpioOutputSegment.cs
  src/devices/Common/Iot/Device/Multiplexing/IOutputSegment.cs
  src/devices/Common/Iot/Device/Multiplexing/VirtualOutputSegment.cs
  src/devices/Common/Iot/Device/Multiplexing/samples/OutputSegment-driver.csproj
  src/devices/Common/Iot/Device/Multiplexing/samples/Program.cs
  src/devices/Common/Iot/Device/Multiplexing/tests/OutputSegmentTests.cs
  src/devices/Common/Iot/Device/Multiplexing/tests/OutputSegmentTests.csproj
  src/devices/ShiftRegister/ShiftRegister.cs
  src/devices/ShiftRegister/ShiftRegister.csproj
Labels: area-device-bindings

#1478 Update led-animate.csproj
  samples/force-sensitive-resistor/force-sensitive-resistor.csproj
  samples/led-animate/led-animate.csproj
  samples/led-blink-multiple/led-blink-multiple.csproj
  samples/led-blink/led-blink.csproj
  samples/led-matrix-weather/led-matrix-weather.csproj
  samples/led-more-blinking-lights/led-more-blinking-lights.csproj
  samples/led-shift-register/led-shift-register.csproj
  samples/serialport-arduino/serialport-arduino.csproj
Labels: Auto-Merge

#1392 Adding PCD8544, famous Nokia 5110 LCD screen
  eng/Versions.props
  src/Iot.Device.Bindings/Iot.Device.Bindings.csproj
  src/devices/Arduino/samples/CharacterDisplay.cs
  src/devices/Card/Ndef/Ndef.csproj
  src/devices/CharacterLcd/CharacterLcd.csproj
  src/devices/CharacterLcd/Hd44780.cs
  src/devices/CharacterLcd/ICharacterLcd.cs
  src/devices/CharacterLcd/Lcd1602.cs
  src/devices/CharacterLcd/Lcd2004.cs
  src/devices/CharacterLcd/LcdConsole.cs
  src/devices/CharacterLcd/LcdInterface.Gpio.cs
  src/devices/CharacterLcd/LcdInterface.I2c.cs
  src/devices/CharacterLcd/LcdInterface.I2c4Bit.cs
  src/devices/CharacterLcd/LcdInterface.cs
  src/devices/CharacterLcd/LcdRgb.cs
  src/devices/CharacterLcd/README.md
  src/devices/CharacterLcd/samples/Hd44780.ExtendedSample.cs
  src/devices/CharacterLcd/samples/LcdConsole.Samples.cs
  src/devices/CharacterLcd/samples/Pcf8574tSample.cs
  src/devices/CharacterLcd/samples/Program.cs
  src/devices/CharacterLcd/tests/CharacterLcdTests.cs
  src/devices/Common/Iot/Device/Graphics/BdfFont.cs
  src/devices/Common/Iot/Device/Graphics/Font5x8.cs
  src/devices/Common/Iot/Device/Graphics/LcdCharacterEncoding.cs
  src/devices/Common/Iot/Device/Graphics/LcdCharacterEncodingFactory.cs
  src/devices/Directory.Build.props
  src/devices/Display/Large4Digit7SegmentDisplay.cs
  src/devices/Pcd8544/FunctionSet.cs
  src/devices/Pcd8544/Pcd8544.cs
  src/devices/Pcd8544/Pcd8544.csproj
  src/devices/Pcd8544/Pcd8544.sln
  src/devices/Pcd8544/PcdDisplayControl.cs
  src/devices/Pcd8544/README.md
  src/devices/Pcd8544/ScreenTemperature.cs
  src/devices/Pcd8544/SetAddress.cs
  src/devices/Pcd8544/samples/Nokia-5110-LCD-Pinout.png
  src/devices/Pcd8544/samples/Pcd8544.samples.csproj
  src/devices/Pcd8544/samples/Program.cs
  src/devices/Pcd8544/samples/me.bmp
  src/devices/Pcd8544/samples/nokia_bw.bmp
  src/devices/Pcd8544/samples/nonbmp.jpg
Labels: Auto-Merge, area-device-bindings

#1481 Fixing Firmata test run case
  src/devices/Arduino/tests/ApiBehaviorTests.cs
  src/devices/Arduino/tests/Arduino.Tests.csproj
  src/devices/Arduino/tests/BasicFirmataIntegrationTests.cs
  src/devices/Arduino/tests/README.md
Labels: area-device-bindings

#1332 Add a generic logging infrastructure
  eng/Version.Details.xml
  eng/Versions.props
  src/Iot.Device.Bindings/Iot.Device.Bindings.csproj
  src/devices/Common/Common.sln
  src/devices/Common/CommonHelpers.csproj
  src/devices/Common/Iot/Device/Common/LogDispatcher.cs
  src/devices/Common/Iot/Device/Common/SimpleConsoleLogger.cs
  src/devices/Common/Iot/Device/Common/SimpleConsoleLoggerFactory.cs
  src/devices/Common/README.md
  src/devices/Common/samples/Common.Samples.csproj
  src/devices/Common/samples/MyTestComponent.cs
  src/devices/Common/samples/Program.cs
  src/devices/Common/tests/Common.Tests.csproj
  src/devices/Common/tests/LoggingTests.cs
Labels: Auto-Merge, area-device-bindings

#1485 Update Thread.Sleep for CharlieSegment
  src/devices/Charlieplex/CharlieplexSegment.cs
Labels: area-device-bindings

#1466 Introduce wait states for some commands
  src/devices/CharacterLcd/Hd44780.cs
  src/devices/CharacterLcd/LcdInterface.I2c4Bit.cs
  src/devices/CharacterLcd/LcdInterface.cs
Labels: area-device-bindings

#1491 Update to StyleCopy.Analyzers 1.2.0-beta.333
  eng/Analyzers.props
Labels: Auto-Merge, dependencies
