Repository dotnet/iot, pull requests merged in 2021-06, with the labels that each got.

#1560 Adjusting VL53L0X to better support I2C address change
  src/devices/Vl53L0X/README.md
  src/devices/Vl53L0X/Vl53L0X.cs
  src/devices/Vl53L0X/samples/Program.cs
Labels: area-device-bindings

#1495 Add a generic GPIO driver for Rockchip SoCs and GPIO speed benchmarks
  src/devices/Gpio/Drivers/NanoPiR2sDriver.cs
  src/devices/Gpio/Drivers/OrangePi4Driver.cs
  src/devices/Gpio/Drivers/PinState.cs
  src/devices/Gpio/Drivers/Rockchip/README.md
  src/devices/Gpio/Drivers/Rockchip/Rk3328Driver.cs
  src/devices/Gpio/Drivers/Rockchip/Rk3399Driver.cs
  src/devices/Gpio/Drivers/Rockchip/RockchipDriver.cs
  src/devices/Gpio/Drivers/Sunxi/README.md
  src/devices/Gpio/Drivers/Sunxi/SunxiDriver.cs
  src/devices/Gpio/README.md
  src/devices/Gpio/imgs/RockchipDriver/libgpiod.jpg
  src/devices/Gpio/imgs/RockchipDriver/rockchip.jpg
  src/devices/Gpio/imgs/RockchipDriver/sysfs.jpg
  src/devices/Gpio/imgs/RockchipDriver/wiringOP.jpg
  src/devices/Gpio/imgs/SunxiDriver/libgpiod.jpg
  src/devices/Gpio/imgs/SunxiDriver/sunxi.jpg
  src/devices/Gpio/imgs/SunxiDriver/sysfs.jpg
  src/devices/Gpio/imgs/SunxiDriver/wiringOP.jpg
  src/devices/Gpio/samples/GpioSpeedBenchmark.cs
  src/devices/Gpio/samples/Iot.Device.Gpio.Samples.csproj
Labels: Auto-Merge, area-device-bindings

#1535 Add bindings for SensorHub board
  src/devices/SensorHub/README.md
  src/devices/SensorHub/SensorHub.cs
  src/devices/SensorHub/SensorHub.csproj
  src/devices/SensorHub/SensorHub.sln
  src/devices/SensorHub/samples/SensorHub.Sample.cs
  src/devices/SensorHub/samples/SensorHub.Samples.csproj
  src/devices/SensorHub/tests/SensorHub.Tests.cs
  src/devices/SensorHub/tests/SensorHub.Tests.csproj
Labels: area-device-bindings

#1558 Unify the references for the test projects
  Directory.Build.props
  eng/Versions.external.props
  eng/Versions.props
  src/Iot.Device.Bindings/Directory.Build.props
  src/Iot.Device.Bindings/Iot.Device.Bindings.csproj
  src/System.Device.Gpio.Tests/System.Device.Gpio.Tests.csproj
  src/devices/Amg88xx/tests/Amg88xx.Tests.csproj
  src/devices/Arduino/tests/Arduino.Tests.csproj
  src/devices/Bmxx80/tests/Bmxx80.Tests.csproj
  src/devices/Card/Ndef/tests/Ndef.Tests.csproj
  src/devices/CharacterLcd/tests/CharacterLcd.Tests.csproj
  src/devices/Charlieplex/tests/Charlieplex.Tests.csproj
  src/devices/Common/Iot/Device/Multiplexing/tests/OutputSegmentTests.csproj
  src/devices/Common/tests/Common.Tests.csproj
  src/devices/Directory.Build.props
  src/devices/Mcp23xxx/tests/Mcp23xxx.Tests.csproj
  src/devices/Mcp25xxx/tests/Mcp25xxx.Tests.csproj
  src/devices/Pcx857x/tests/Pcx857x.Tests.csproj
  src/devices/ServoMotor/tests/ServoMotor.Tests.csproj
  src/devices/Ssd13xx/tests/Ssd13xx.Tests.csproj
  tools/templates/DeviceBindingTemplate/dotnet_new_device-binding_csharp/_DeviceBinding.csproj
  tools/templates/DeviceBindingTemplate/dotnet_new_device-binding_csharp/tests/_DeviceBinding_Not_Required.Tests.csproj
  tools/templates/Directory.Build.props
  tools/templates/Directory.Build.targets
Labels: area-infrastructure

#1534 Fix a few problems in HardwareMonitor
  src/devices/HardwareMonitor/OpenHardwareMonitor.cs
  src/devices/HardwareMonitor/README.md
  src/devices/HardwareMonitor/SensorType.cs
  src/devices/HardwareMonitor/samples/Program.cs
Labels: area-device-bindings

#1574 Fix minor typo on xml comment
  src/System.Device.Gpio/System/Device/I2c/I2cBus.cs
Labels: area-System.Device.Gpio
