Repository dotnet/iot, pull requests merged in 2021-11, with the labels that each got.

#1642 Ili9341
  src/devices/Ili9341/Ili9341.cs
  src/devices/Ili9341/Ili9341.csproj
  src/devices/Ili9341/Ili9341Command.cs
  src/devices/Ili9341/Ili9341Imaging.cs
  src/devices/Ili9341/README.md
  src/devices/Ili9341/category.txt
  src/devices/Ili9341/samples/Ili9341.Samples.csproj
  src/devices/Ili9341/samples/Program.cs
  src/devices/Ili9341/samples/images/test.png
Labels: area-device-bindings

#1722 Update Arduino Readme
  src/devices/Arduino/README.md
Labels: area-device-bindings

#1695 #1694 Handle `STATUS_REG` error correctly: distinguishing ext. temp and light sensor
  src/devices/SensorHub/SensorHub.cs
  src/devices/SensorHub/tests/SensorHub.Tests.cs
Labels: area-device-bindings

#1699 fix InvalidOperationException on constructing Camera
  src/devices/Media/VideoDevice/samples/MjpegStream/Camera.cs
Labels: area-device-bindings, Auto-Merge

#1720 Debouncing implementation and test
  src/devices/Button/ButtonBase.cs
  src/devices/Button/GpioButton.cs
  src/devices/Button/tests/ButtonTests.cs
  src/devices/Button/tests/TestButton.cs
Labels: area-device-bindings, Auto-Merge

#1732 Add PI Zero 2 W Support For RasperryPi3Driver
  src/System.Device.Gpio/System/Device/Gpio/Drivers/RaspberryPi3Driver.cs
  src/System.Device.Gpio/System/Device/Gpio/RaspberryBoardInfo.cs
Labels: area-System.Device.Gpio

#1726 Clamp YUV values to be within byte ranges
  src/devices/Media/VideoDevice/VideoDevice.Converter.cs
Labels: area-device-bindings
