Repository dotnet/iot, pull requests merged in 2021-05, with the labels that each got.

#1499 ignore Interrupted system call error and retry
  src/System.Device.Gpio/System/Device/Gpio/LibgpiodDriverEventHandler.cs
Labels: area-System.Device.Gpio

#1541 updating byte arrays to Span<byte> for consistency
  src/devices/Ssd13xx/Ssd1306.cs
  src/devices/Ssd13xx/Ssd13xx.cs
Labels: area-device-bindings

#1128 Board approach, iteration 2
  src/devices/Arduino/Arduino.csproj
  src/devices/Arduino/Arduino.sln
  src/devices/Arduino/ArduinoBoard.cs
  src/devices/Arduino/ArduinoI2cBus.cs
  src/devices/Arduino/ArduinoI2cDevice.cs
  src/devices/Board/Board.cs
  src/devices/Board/Board.csproj
  src/devices/Board/Board.sln
  src/devices/Board/CustomBoard.cs
  src/devices/Board/DummyGpioDriver.cs
  src/devices/Board/GenericBoard.cs
  src/devices/Board/I2cBusExtensions.cs
  src/devices/Board/I2cBusManager.cs
  src/devices/Board/KeyboardGpioDriver.cs
  src/devices/Board/ManagedGpioController.cs
  src/devices/Board/PinUsage.cs
  src/devices/Board/PwmChannelManager.cs
  src/devices/Board/RaspberryPiBoard.cs
  src/devices/Board/SpiDeviceManager.cs
  src/devices/Board/category.txt
  src/devices/Board/samples/Board.Sample.csproj
  src/devices/Board/samples/Program.cs
  src/devices/Board/tests/Board.Tests.csproj
  src/devices/Board/tests/BoardTests.cs
  src/devices/Board/tests/I2cBusManagerTest.cs
  src/devices/Board/tests/I2cDummyBus.cs
  src/devices/Board/tests/I2cDummyDevice.cs
  src/devices/Board/tests/RaspberryPiBoardTest.cs
  src/devices/Board/tests/SpiDummyDevice.cs
  src/devices/Interop/Windows/WinUser.cs
Labels: area-System.Device.Gpio

#1473 A GPIO has to be writeable even in drive mode input because one wants to set the value used when switching to output mode.
  src/System.Device.Gpio.Tests/GpioControllerSoftwareTests.cs
  src/System.Device.Gpio.Tests/GpioControllerTestBase.cs
  src/System.Device.Gpio.Tests/LibGpiodDriverTests.cs
  src/System.Device.Gpio.Tests/RaspberryPiDriverTests.cs
  src/System.Device.Gpio/Interop/Unix/SafeLineHandle.cs
  src/System.Device.Gpio/Interop/Unix/libgpiod/Interop.libgpiod.cs
  src/System.Device.Gpio/System/Device/Gpio/Drivers/HummingBoardDriver.cs
  src/System.Device.Gpio/System/Device/Gpio/Drivers/LibGpiodDriver.cs
  src/System.Device.Gpio/System/Device/Gpio/Drivers/RaspberryPi3Driver.cs
  src/System.Device.Gpio/System/Device/Gpio/Drivers/RaspberryPi3LinuxDriver.cs
  src/System.Device.Gpio/System/Device/Gpio/GpioController.cs
  src/System.Device.Gpio/System/Device/Gpio/GpioDriver.cs
Labels: Auto-Merge
