Repository dotnet/iot, pull requests merged in 2021-01, with the labels that each got.

#1393 Attributes for devices
  src/devices/Adxl345/Adxl345.cs
  src/devices/Ags01db/Ags01db.cs
  src/devices/Ahtxx/AhtBase.cs
  src/devices/Ak8963/Ak8963.cs
  src/devices/Amg88xx/Amg88xx.cs
  src/devices/Bh1745/Bh1745.cs
  src/devices/Bh1750fvi/Bh1750fvi.cs
  src/devices/Bmp180/Bmp180.cs
  src/devices/Bmxx80/Bme280.cs
  src/devices/Bmxx80/Bme680.cs
  src/devices/Bmxx80/Bmx280Base.cs
  src/devices/Bno055/Bno055Sensor.cs
  src/devices/Buzzer/Buzzer.cs
  src/devices/Ccs811/Ccs811Sensor.cs
  src/devices/CpuTemperature/CpuTemperature.cs
  src/devices/Dhtxx/DhtBase.cs
  src/devices/Directory.Build.props
  src/devices/Hcsr04/Hcsr04.cs
  src/devices/Hcsr501/Hcsr501.cs
  src/devices/Hmc5883l/Hmc5883l.cs
  src/devices/Hts221/Hts221.cs
  src/devices/Ina219/Ina219.cs
  src/devices/LiquidLevel/LiquidLevelSwitch.cs
  src/devices/Lm75/Lm75.cs
  src/devices/Lps25h/Lps25h.cs
  src/devices/Lsm9Ds1/Lsm9Ds1.AccelerometerAndGyroscope.cs
  src/devices/Lsm9Ds1/Lsm9Ds1.Magnetometer.cs
  src/devices/Max44009/Max44009.cs
  src/devices/Mcp9808/Mcp9808.cs
  src/devices/Mhz19b/Mhz19b.cs
  src/devices/Mlx90614/Mlx90614.cs
  src/devices/Mpu9250/Mpu6500.cs
  src/devices/Mpu9250/Mpu9250.cs
  src/devices/Rtc/RtcBase.cs
  src/devices/SenseHat/SenseHat.cs
  src/devices/Sht3x/Sht3x.cs
  src/devices/Si7021/Si7021.cs
  src/devices/System.Device.Model/CommandAttribute.cs
  src/devices/System.Device.Model/ComponentAttribute.cs
  src/devices/System.Device.Model/InterfaceAttribute.cs
  src/devices/System.Device.Model/PropertyAttribute.cs
  src/devices/System.Device.Model/README.md
  src/devices/System.Device.Model/System.Device.Model.csproj
  src/devices/System.Device.Model/TelemetryAttribute.cs
  src/devices/Tcs3472x/Tcs3472x.cs
  src/devices/Tsl256x/Tsl256x.cs
Labels: area-device-bindings

#1394 Added MAX31865 binding
  src/devices/Max31865/Configuration.cs
  src/devices/Max31865/ConversionFilterMode.cs
  src/devices/Max31865/FaultStatus.cs
  src/devices/Max31865/Max31865.cs
  src/devices/Max31865/Max31865.csproj
  src/devices/Max31865/Max31865.sln
  src/devices/Max31865/PlatinumResistanceThermometerType.cs
  src/devices/Max31865/README.md
  src/devices/Max31865/Register.cs
  src/devices/Max31865/ResistanceTemperatureDetectorWires.cs
  src/devices/Max31865/category.txt
  src/devices/Max31865/samples/MAX31865_circuit.fzz
  src/devices/Max31865/samples/MAX31865_circuit_bb.png
  src/devices/Max31865/samples/Max31865.Samples.csproj
  src/devices/Max31865/samples/Program.cs
  src/devices/Max31865/samples/README.md
  src/devices/Max31865/sensor.jpg
Labels: area-device-bindings

#1398 Dc motor start stop
  src/devices/DCMotor/DCMotorWithStartStop.cs
  src/devices/DCMotor/samples/Program.cs
  src/devices/DCMotor/samples/README.md
Labels: area-device-bindings

#1406 Fix unreliable code branch
  src/devices/Pca9685/samples/Program.cs
Labels: area-device-bindings

#1343 Added MAX31856 sensor to devices library
  src/devices/Max31856/Max31856.cs
  src/devices/Max31856/Max31856.csproj
  src/devices/Max31856/Max31856.sln
  src/devices/Max31856/README.md
  src/devices/Max31856/Register.cs
  src/devices/Max31856/ThermocoupleType.cs
  src/devices/Max31856/device.jpg
  src/devices/Max31856/samples/Max31856.Sample.cs
  src/devices/Max31856/samples/Max31856.Samples.csproj
  src/devices/Max31856/samples/README.md
Labels: area-device-bindings

#1409 fix typo
  src/devices/Mfrc522/README.md
Labels: area-device-bindings

#1397 Add possibility to set the alternate pin mode on Raspberry Pis
  src/System.Device.Gpio/System/Device/Gpio/Drivers/RaspberryPi3Driver.cs
  src/System.Device.Gpio/System/Device/Gpio/Drivers/RaspberryPi3LinuxDriver.cs
Labels: area-System.Device.Gpio

#1324 Bindings for Groove ADXL357
  src/devices/Adxl357/AccelerometerRange.cs
  src/devices/Adxl357/Adxl357.cs
  src/devices/Adxl357/Adxl357.csproj
  src/devices/Adxl357/Adxl357.sln
  src/devices/Adxl357/README.md
  src/devices/Adxl357/Register.cs
  src/devices/Adxl357/category.txt
  src/devices/Adxl357/samples/Adxl357.Samples.csproj
  src/devices/Adxl357/samples/Program.cs
  src/devices/Adxl357/samples/README.md
  src/devices/Adxl357/sensor.png
Labels: area-device-bindings

#1150 Update DS3231 binding to add support for the alarms
  src/devices/Rtc/Devices/Ds3231/Ds3231.cs
  src/devices/Rtc/Devices/Ds3231/Ds3231Alarm.cs
  src/devices/Rtc/Devices/Ds3231/Ds3231AlarmOne.cs
  src/devices/Rtc/Devices/Ds3231/Ds3231AlarmOneMatchMode.cs
  src/devices/Rtc/Devices/Ds3231/Ds3231AlarmTwo.cs
  src/devices/Rtc/Devices/Ds3231/Ds3231AlarmTwoMatchMode.cs
  src/devices/Rtc/Devices/Ds3231/Ds3231Register.cs
  src/devices/Rtc/Rtc.csproj
Labels: area-device-bindings

#1331 TemperatureMatrix property for AMD88xx sensor
  src/devices/Amg88xx/Amg88xx.cs
  src/devices/Amg88xx/README.md
  src/devices/Amg88xx/tests/Amg88xxTests.cs
Labels: area-device-bindings, needs review :mag:

#839 Add Lidar Lite V3 Distance Sensor
  src/devices/LidarLiteV3/AcquisitionSettings.cs
  src/devices/LidarLiteV3/LidarLiteV3.cs
  src/devices/LidarLiteV3/LidarLiteV3.csproj
  src/devices/LidarLiteV3/MeasurementRepetition.cs
  src/devices/LidarLiteV3/PowerMode.cs
  src/devices/LidarLiteV3/README.md
  src/devices/LidarLiteV3/Register.cs
  src/devices/LidarLiteV3/SystemStatus.cs
  src/devices/LidarLiteV3/category.txt
  src/devices/LidarLiteV3/samples/LidarLiteV3.Sample.csproj
  src/devices/LidarLiteV3/samples/Program.cs
  src/devices/LidarLiteV3/samples/README.md
Labels: area-device-bindings, needs author feedback
