Repository dotnet/iot, pull requests merged in 2021-02, with the labels that each got.

#1435 Fixes #1432
  src/devices/Ssd13xx/Ssd1306.cs
Labels: area-device-bindings

#1429 Small nullability fixes and Character map update
  src/devices/CharacterLcd/CharacterLcd.sln
  src/devices/CharacterLcd/LcdCharacterEncodingFactory.cs
  src/devices/CharacterLcd/tests/CharacterLcd.Tests.csproj
  src/devices/CharacterLcd/tests/CharacterLcdTests.cs
  src/devices/HardwareMonitor/OpenHardwareMonitor.cs
Labels: area-device-bindings

#1434 Fixes #1423
  src/devices/Pn532/Pn532.cs
  src/devices/Pn532/samples/Program.cs
Labels: area-device-bindings

#1130 Add a generic GPIO driver for Allwinner SoCs and Orange Pi Zero/Lite/Lite2 pin map
  src/devices/Gpio/Drivers/OrangePiLite2Driver.cs
  src/devices/Gpio/Drivers/OrangePiLiteDriver.cs
  src/devices/Gpio/Drivers/OrangePiZeroDriver.cs
  src/devices/Gpio/Drivers/Sunxi/Sun50iw2p1Driver.cs
  src/devices/Gpio/Drivers/Sunxi/Sun50iw6p1Driver.cs
  src/devices/Gpio/Drivers/Sunxi/Sun8iw7p1Driver.cs
  src/devices/Gpio/Drivers/Sunxi/SunxiDriver.cs
  src/devices/Gpio/Iot.Device.Gpio.csproj
  src/devices/Gpio/README.md
  src/devices/Gpio/samples/Iot.Device.Gpio.Samples.csproj
  src/devices/Gpio/samples/Program.cs
  src/devices/Gpio/samples/README.md
  src/devices/Gpio/samples/opi_circuit.fzz
  src/devices/Gpio/samples/opi_circuit.png
Labels: Auto-Merge, area-System.Device.Gpio

#1192 Add device binding for Tlc1543 binding
  src/devices/Tlc1543/Channel.cs
  src/devices/Tlc1543/README.md
  src/devices/Tlc1543/Tlc1543.cs
  src/devices/Tlc1543/Tlc1543.csproj
  src/devices/Tlc1543/Tlc1543.sln
  src/devices/Tlc1543/samples/README.md
  src/devices/Tlc1543/samples/Tlc1543.Sample.cs
  src/devices/Tlc1543/samples/Tlc1543.Samples.csproj
Labels: Auto-Merge, area-device-bindings

#1039 Arduino/Firmata device support
  src/devices/Arduino/Arduino.csproj
  src/devices/Arduino/Arduino.sln
  src/devices/Arduino/ArduinoAnalogController.cs
  src/devices/Arduino/ArduinoAnalogInputPin.cs
  src/devices/Arduino/ArduinoBoard.cs
  src/devices/Arduino/ArduinoGpioControllerDriver.cs
  src/devices/Arduino/ArduinoI2cDevice.cs
  src/devices/Arduino/ArduinoPwmChannel.cs
  src/devices/Arduino/ArduinoSpiDevice.cs
  src/devices/Arduino/ConfigurableFirmata/ConfigurableFirmata.ino
  src/devices/Arduino/FirmataCommand.cs
  src/devices/Arduino/FirmataCommandSequence.cs
  src/devices/Arduino/FirmataDevice.cs
  src/devices/Arduino/FirmataSpiCommand.cs
  src/devices/Arduino/FirmataSysexCommand.cs
  src/devices/Arduino/README.md
  src/devices/Arduino/SupportedMode.cs
  src/devices/Arduino/SupportedPinConfiguration.cs
  src/devices/Arduino/category.txt
  src/devices/Arduino/samples/Arduino.Monitor.cs
  src/devices/Arduino/samples/Arduino.Monitor.csproj
  src/devices/Arduino/samples/Arduino.sample.cs
  src/devices/Arduino/samples/Arduino.sample.csproj
  src/devices/Arduino/samples/ArduinoSample.fzz
  src/devices/Arduino/samples/ArduinoSample_Monitor.png
  src/devices/Arduino/samples/CharacterDisplay.cs
  src/devices/Arduino/tests/ApiBehaviorTests.cs
  src/devices/Arduino/tests/Arduino.Tests.csproj
  src/devices/Arduino/tests/BasicFirmataIntegrationTests.cs
  src/devices/Arduino/tests/FirmataTestFixture.cs
  src/devices/Arduino/tests/xunit.runner.json
  src/devices/Bmxx80/ReadResult/Bme280ReadResult.cs
  src/devices/Bmxx80/ReadResult/Bme680ReadResult.cs
  src/devices/Bmxx80/ReadResult/Bmp280ReadResult.cs
  src/devices/Common/CommonHelpers.csproj
  src/devices/Common/System/Device/Analog/AnalogController.cs
  src/devices/Common/System/Device/Analog/AnalogInputPin.cs
  src/devices/Common/System/Device/Analog/TriggerReason.cs
  src/devices/Common/System/Device/Analog/ValueChangedEventArgs.cs
  src/devices/Common/System/Device/Analog/ValueChangedEventHandler.cs
Labels: area-System.Device.Gpio, needs review :mag:

#1446 Fixing SPI LSB mode not supported to have software emulation
  src/System.Device.Gpio/System/Device/Spi/Devices/UnixSpiDevice.cs
  src/System.Device.Gpio/System/Device/Spi/Devices/Windows10SpiDevice.cs
  src/System.Device.Gpio/System/Device/Spi/SpiDevice.cs
  src/devices/Pn532/Pn532.cs
  src/devices/Pn532/README.md
  src/devices/Pn532/samples/Program.cs
Labels: Auto-Merge

#1444 Enable SA1204
  eng/StyleCop.Analyzers.ruleset
  src/System.Device.Gpio/System/Device/Gpio/Drivers/RaspberryPi3LinuxDriver.cs
  src/System.Device.Gpio/System/Device/Gpio/Drivers/SysFsDriver.cs
  src/System.Device.Gpio/System/Device/Gpio/LibgpiodDriverEventHandler.cs
  src/System.Device.Gpio/System/Device/I2c/I2cDevice.cs
  src/System.Device.Gpio/System/Device/Pwm/Channels/UnixPwmChannel.cs
  src/System.Device.Gpio/System/Device/Spi/SpiDevice.cs
  src/devices/Bmxx80/Bme680.cs
  src/devices/BoardLed/BoardLed.cs
  src/devices/Card/Mifare/MifareCard.cs
  src/devices/CharacterLcd/LcdInterface.cs
  src/devices/Charlieplex/CharlieplexSegment.cs
  src/devices/Common/Iot/Device/Graphics/BdfFont.cs
  src/devices/DCMotor/DCMotor.cs
  src/devices/GoPiGo3/Sensors/AnalogSensor.cs
  src/devices/GoPiGo3/Sensors/DigitalInput.cs
  src/devices/GoPiGo3/Sensors/DigitalOutput.cs
  src/devices/Gpio/Drivers/Sunxi/SunxiDriver.cs
  src/devices/GrovePi/Sensors/AnalogSensor.cs
  src/devices/GrovePi/Sensors/DhtSensor.cs
  src/devices/GrovePi/Sensors/DigitalInput.cs
  src/devices/GrovePi/Sensors/DigitalOutput.cs
  src/devices/GrovePi/Sensors/LedBar.cs
  src/devices/GrovePi/Sensors/PwmOutput.cs
  src/devices/GrovePi/Sensors/UltrasonicSensor.cs
  src/devices/Hts221/Hts221.cs
  src/devices/Ina219/Ina219.cs
  src/devices/Lps25h/Lps25h.cs
  src/devices/Mcp3xxx/Mcp33xx.cs
  src/devices/Media/SoundDevice/Devices/UnixSoundDevice.cs
  src/devices/Media/VideoDevice/Devices/UnixVideoDevice.cs
  src/devices/Media/VideoDevice/samples/MjpegStream/Camera.cs
  src/devices/OneWire/FamilyBindings/OneWireThermometerDevice.Linux.cs
  src/devices/Pca95x4/Pca95x4.cs
  src/devices/Pca9685/Pca9685.cs
  src/devices/Pn5180/Pn5180.cs
  src/devices/SenseHat/SenseHatLedMatrix.cs
  src/devices/SenseHat/SenseHatLedMatrixSysFs.cs
  src/devices/Shtc3/Shtc3.cs
  src/devices/Uln2003/Uln2003.cs
Labels: Auto-Merge
