Repository dotnet/iot, pull requests merged in 2022-05, with the labels that each got.

#1856 Fix check for channel index (Mcp342X)
  src/devices/Mcp3428/Mcp342x.cs
Labels: area-device-bindings, Auto-Merge

#1834 Feature serial port
  build.proj
  src/System.Device.Ports/System.Device.Ports.SerialPort.Tests/System.Device.Ports.SerialPort.Tests.csproj
  src/System.Device.Ports/System.Device.Ports.SerialPort/Handshake.cs
  src/System.Device.Ports/System.Device.Ports.SerialPort/LinuxSerialPort.cs
  src/System.Device.Ports/System.Device.Ports.SerialPort/NativeMethods.txt
  src/System.Device.Ports/System.Device.Ports.SerialPort/Parity.cs
  src/System.Device.Ports/System.Device.Ports.SerialPort/SerialData.cs
  src/System.Device.Ports/System.Device.Ports.SerialPort/SerialDataReceivedEventArgs.cs
  src/System.Device.Ports/System.Device.Ports.SerialPort/SerialDataReceivedEventHandler.cs
  src/System.Device.Ports/System.Device.Ports.SerialPort/SerialError.cs
  src/System.Device.Ports/System.Device.Ports.SerialPort/SerialErrorReceivedEventArgs.cs
  src/System.Device.Ports/System.Device.Ports.SerialPort/SerialErrorReceivedEventHandler.cs
  src/System.Device.Ports/System.Device.Ports.SerialPort/SerialPinChange.cs
  src/System.Device.Ports/System.Device.Ports.SerialPort/SerialPinChangedEventArgs.cs
  src/System.Device.Ports/System.Device.Ports.SerialPort/SerialPinChangedEventHandler.cs
  src/System.Device.Ports/System.Device.Ports.SerialPort/SerialPort.Settings.cs
  src/System.Device.Ports/System.Device.Ports.SerialPort/SerialPort.cs
  src/System.Device.Ports/System.Device.Ports.SerialPort/SerialStreamBase.cs
  src/System.Device.Ports/System.Device.Ports.SerialPort/StopBits.cs
  src/System.Device.Ports/System.Device.Ports.SerialPort/Strings.Designer.cs
  src/System.Device.Ports/System.Device.Ports.SerialPort/Strings.resx
  src/System.Device.Ports/System.Device.Ports.SerialPort/System.Device.Ports.SerialPort.csproj
  src/System.Device.Ports/System.Device.Ports.SerialPort/WindowsSerialPort.cs
  src/System.Device.Ports/System.Device.Ports.SerialPort/xlf/Strings.cs.xlf
  src/System.Device.Ports/System.Device.Ports.SerialPort/xlf/Strings.de.xlf
  src/System.Device.Ports/System.Device.Ports.SerialPort/xlf/Strings.es.xlf
  src/System.Device.Ports/System.Device.Ports.SerialPort/xlf/Strings.fr.xlf
  src/System.Device.Ports/System.Device.Ports.SerialPort/xlf/Strings.it.xlf
  src/System.Device.Ports/System.Device.Ports.SerialPort/xlf/Strings.ja.xlf
  src/System.Device.Ports/System.Device.Ports.SerialPort/xlf/Strings.ko.xlf
  src/System.Device.Ports/System.Device.Ports.SerialPort/xlf/Strings.pl.xlf
  src/System.Device.Ports/System.Device.Ports.SerialPort/xlf/Strings.pt-BR.xlf
  src/System.Device.Ports/System.Device.Ports.SerialPort/xlf/Strings.ru.xlf
  src/System.Device.Ports/System.Device.Ports.SerialPort/xlf/Strings.tr.xlf
  src/System.Device.Ports/System.Device.Ports.SerialPort/xlf/Strings.zh-Hans.xlf
  src/System.Device.Ports/System.Device.Ports.SerialPort/xlf/Strings.zh-Hant.xlf
  src/System.Device.Ports/System.Device.Ports.sln
Labels: enhancement, area-infrastructure

#1841 Improve performance for large SPI buffer transfers
  src/devices/Arduino/ArduinoBoard.cs
  src/devices/Arduino/ArduinoGpioControllerDriver.cs
  src/devices/Arduino/ArduinoI2cBus.cs
  src/devices/Arduino/ArduinoSpiDevice.cs
  src/devices/Arduino/BlockingConcurrentBag.cs
  src/devices/Arduino/Encoder7Bit.cs
  src/devices/Arduino/ExtendedCommandHandler.cs
  src/devices/Arduino/FirmataCommandSequence.cs
  src/devices/Arduino/FirmataDevice.cs
  src/devices/Arduino/FirmataSpiCommand.cs
  src/devices/Arduino/ReconnectingNetworkStream.cs
  src/devices/Arduino/tests/BlockingConcurrentBagTest.cs
Labels: area-device-bindings
