Repository dotnet/iot, pull requests merged in 2022-11, with the labels that each got.

#1908 Added TCA9548A device binding
  src/devices/Device-Index.md
  src/devices/Pca95x4/README.md
  src/devices/README.md
  src/devices/Tca954x/MultiplexerChannel.cs
  src/devices/Tca954x/PossibleMuxAddress.png
  src/devices/Tca954x/README.md
  src/devices/Tca954x/TCA9548A.jpg
  src/devices/Tca954x/TCA9548A_Connections.png
  src/devices/Tca954x/TCA9548A_usage.fzz
  src/devices/Tca954x/Tca9548A.cs
  src/devices/Tca954x/Tca9548AChannelBus.cs
  src/devices/Tca954x/Tca9548ADevice.cs
  src/devices/Tca954x/Tca9548a.sln
  src/devices/Tca954x/Tca954x.csproj
  src/devices/Tca954x/category.txt
  src/devices/Tca954x/samples/Program.cs
  src/devices/Tca954x/samples/Tca9548a.sample.csproj
Labels: area-device-bindings

#1978 Add support for new revision of RaspberryPi Compute Module 4
  src/System.Device.Gpio/System/Device/Gpio/RaspberryBoardInfo.cs
Labels: area-System.Device.Gpio

#1976 Remove Windows Helix test execution
  azure-pipelines.yml
  eng/sendToHelix.proj
Labels: Auto-Merge
