Repository dotnet/iot, pull requests merged in 2022-02, with the labels that each got.

#1786 packages required by .NET Standard only
  src/System.Device.Gpio/System.Device.Gpio.csproj
Labels: area-System.Device.Gpio, Needs: Author Feedback

#1796 Fix markdown, small improvements
  src/devices/Dhtxx/README.md
Labels: area-device-bindings

#1801 retry when epoll_wait fails with EINTR
  src/System.Device.Gpio/Interop/Unix/Libc/Interop.epoll_wait.cs
  src/System.Device.Gpio/System/Device/Gpio/Drivers/SysFsDriver.cs
Labels: area-System.Device.Gpio

#1795 unexport when exported before only
  src/System.Device.Gpio/System/Device/Gpio/Drivers/SysFsDriver.cs
Labels: area-System.Device.Gpio

#1802 Remove ILI9341 SPI buffer range limit
  src/devices/Ili9341/Ili9341.cs
Labels: area-device-bindings

#1808 Added support for new Raspberry Pi 4 board revision b03115
  src/System.Device.Gpio/System/Device/Gpio/RaspberryBoardInfo.cs
Labels: area-System.Device.Gpio
