Repository dotnet/iot, pull requests merged in 2022-04, with the labels that each got.

#1825 LibGpiodDriver handle TaskCanceledException in Dispose
  src/System.Device.Gpio.Tests/LibGpiodDriverTests.cs
  src/System.Device.Gpio/System/Device/Gpio/Drivers/LibGpiodDriver.cs
  src/System.Device.Gpio/System/Device/Gpio/LibgpiodDriverEventHandler.cs
Labels: area-System.Device.Gpio

#1762 Added MPU6050 support
  src/Iot.Device.Bindings/CompatibilitySuppressions.xml
  src/devices/Mpu6xxx9xxx/AccelerometerBandwidth.cs
  src/devices/Mpu6xxx9xxx/AccelerometerLowPowerFrequency.cs
  src/devices/Mpu6xxx9xxx/AccelerometerRange.cs
  src/devices/Mpu6xxx9xxx/Ak8963Attached.cs
  src/devices/Mpu6xxx9xxx/ClockSource.cs
  src/devices/Mpu6xxx9xxx/DisableModes.cs
  src/devices/Mpu6xxx9xxx/FifoModes.cs
  src/devices/Mpu6xxx9xxx/FritzingScheme/Mpu6050.fzz
  src/devices/Mpu6xxx9xxx/FritzingScheme/Mpu9250.fzz
  src/devices/Mpu6xxx9xxx/GyroscopeBandwidth.cs
  src/devices/Mpu6xxx9xxx/GyroscopeRange.cs
  src/devices/Mpu6xxx9xxx/I2cBusFrequency.cs
  src/devices/Mpu6xxx9xxx/I2cChannel.cs
  src/devices/Mpu6xxx9xxx/Mpu6050.cs
  src/devices/Mpu6xxx9xxx/Mpu6500.cs
  src/devices/Mpu6xxx9xxx/Mpu6xxx9xxx.csproj
  src/devices/Mpu6xxx9xxx/Mpu6xxx9xxx.sln
  src/devices/Mpu6xxx9xxx/Mpu9250.cs
  src/devices/Mpu6xxx9xxx/README.md
  src/devices/Mpu6xxx9xxx/Register.cs
  src/devices/Mpu6xxx9xxx/SelfTestScale.cs
  src/devices/Mpu6xxx9xxx/UserControls.cs
  src/devices/Mpu6xxx9xxx/category.txt
  src/devices/Mpu6xxx9xxx/images/Mpu6050.png
  src/devices/Mpu6xxx9xxx/images/Mpu9250.png
  src/devices/Mpu6xxx9xxx/samples/Mpu6050/Mpu6050.sample.csproj
  src/devices/Mpu6xxx9xxx/samples/Mpu6050/Program.cs
  src/devices/Mpu6xxx9xxx/samples/Mpu9250/Mpu9250.sample.csproj
  src/devices/Mpu6xxx9xxx/samples/Mpu9250/Program.cs
  src/devices/Mpu9250/Mpu9250.fzz
  src/devices/Mpu9250/Mpu9250_bb.png
Labels: area-device-bindings

#1847 Added support for internal pull-down resistors
  src/devices/KeyMatrix/KeyMatrix.cs
Labels: area-device-bindings, Auto-Merge
